h4 {{ list.name }}
  a(ng-if="vm.allowNewIssues" ng-click="vm.newIssue(vm.list)")
    i.fa.fa-plus.pull-right

ul.story-group(ng-sortable="{ group: 'stories', draggable: 'li.story', onAdd: vm.updatedList, onUpdate: vm.updatedSort }")
  li.col-xs-12.story(ng-repeat="issue in vm.list.issues")
    story(ng-model="issue" list="vm.list" project="vm.project" users="vm.users")
