.col-sm-6.col-sm-offset-3
  .col-sm-12
    label(for="username") Username
    input.form-control(type="text" name="username" ng-model="vm.username" placeholder="username")

  .col-sm-12
    br
    label(for="password") Password
    input.form-control(type="password" name="password" ng-model="vm.password" placeholder="password")

  .col-sm-12
    br
    p.small * Login using your GitLab username & password
    
  .col-sm-12
    a.btn.btn-primary(ng-click="vm.login()") Login
    br
    br
