.footer
  .container
    .row
      .col-md-4.col-md-offset-8
        p.small.text-muted
          | Designed and built with 
          i.fa.fa-heart.text-danger
          |  by
          a(href="http://github.com/jspizziri")  jspizziri
          | .
        p.small.text-muted
          | Code licensed 
          a(href="https://gitlab.com/ruck/ruck/blob/master/LICENSE") MIT
        p.small.text-muted
          | ©2016&nbsp;Ruck App
