.col-sm-12.well.well-sm(ng-class="{ new: issue.isNew, saving: issue.isSaving }")
  span(us-spinner="{radius:30, width:8, length: 16}" spinner-on="issue.isSaving")
  .row
    include ./_header.jade
    
  br
  .row(uib-collapse="issue.isCollapsed")
    include ./_body.jade
