ul.story-group {
  min-height: 100px; // the min-height must be set so that empty lists can be draggable
  padding-left: 0px;
  padding-right: 0px;

  li.story {
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;

    .well {
      width: 100%;
      margin: 0;
    }

    textarea {
      max-width: 100%;
      min-height: 200px;
    }
  }
}

.new {
  background-color: #fcf8e3;
}

.saving:after {
  content: '';
  display: block;
  background: rgba(80,80,80,.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}


.started {
  background-color: lightblue;
}

.finished, .feature {
  background-color: darkblue;
}

.delivered {
  background-color: orange;
}

.accepted {
  background-color: green;
}

.rejected, .bug {
  background-color: darkred;
}
