
.col-sm-8.col-sm-offset-2
  p Ruck is an opinionated Scrum PM tool. It is designed to work entirely and directly off of the API's & functionality provided by GitLab. This keeps the code lightweight and fully integrated. Ruck provides a management interface on top of the GitLab issue system:

  ul
    li Organize issues by list
    li Prioritize issues in each list
    li Track the status of issues in progress
    li Classify the type of each issue
    li Comment, describe, assign, etc. issues
