h1 {{ vm.project.name }}
a.small(ng-click="vm.showRecentlyAccepted()") View Recently Accepted Issues
ul.list-group(ng-sortable="{ group: 'list' }")
  li.col-xs-4.list(ng-if="vm.toggleRecentlyAccepted")
    list(list="vm.recentlyAccepted" lists="vm.lists" project="vm.project" users="vm.users")
  li.col-xs-4.list(ng-repeat="list in vm.lists")
    list(list="list" lists="vm.lists" project="vm.project" users="vm.users" allow-new-issues="true")
