.row.well.well-sm
  .col-xs-12(ng-click="issue.isCollapsed = !issue.isCollapsed")
    .row
      include ./story/_header.jade

  .col-xs-12(uib-collapse="issue.isCollapsed")
    br
    .row      
      include ./story/_body.jade
hr
