ul.story-group {
  min-height: 100px; // the min-height must be set so that empty lists can be draggable
  padding-left: 0px;
  padding-right: 0px;

  li.story {
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;

    .well {
      width: 100%;
      margin: 0;
    }

    textarea {
      max-width: 100%;
      min-height: 200px;
    }
  }
}

.started {
  background-color: lightblue;
}

.finished, .feature {
  background-color: darkblue;
}

.delivered {
  background-color: orange;
}

.accepted {
  background-color: green;
}

.rejected, .bug {
  background-color: darkred;
}
