
hr

.row(ng-repeat="note in vm.notes | orderBy:'created_at'")

  .col-sm-4.small
    b @{{ note.author.username }}
    
  .col-sm-8.small
    b.pull-right {{ note.created_at | date:'medium' }}
    
  .col-sm-12(markdown="note.body | uploadUrlFilter:vm.project.web_url" project="vm.project")
  
  .col-sm-12  
    hr
    

.row
  .col-sm-4.small
    b @{{ vm.me.username }}
    
  .col-sm-8.small
    b.pull-right {{ vm.now | date:'medium' }}
  
  .col-sm-12(ng-if="vm.newNote.body.length > 0")
    a.pull-right(ng-click="vm.newNote.preview = !vm.newNote.preview") preview
    
  .col-sm-12
    mention(ng-model="vm.newNote.body" placeholder="enter new note")
    
  .col-sm-12(ng-if="vm.newNote.preview")
    .well(markdown-to-html="vm.newNote.body")
  
  .col-sm-12
    a.btn.btn-default.pull-right(ng-if="vm.newNote.body.length > 0" ng-click="vm.saveNote(vm.newNote.body)") Save
    a.btn.btn-primary.pull-right(ng-if="vm.newNote.body.length > 0" ng-click="vm.newNote.body = null") Cancel
